In [2]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("trr_trr_refresh.csv")

In [8]:
df.head(5)

,id,event_number,cr_number,beat,block,direction,street,location,trr_datetime,indoor_or_outdoor,...,officer_race,officer_age,officer_appointed_date,officer_birth_year,officer_unit_name,officer_unit_detail,trr_created,latitude,longitude,point
0,96630,1.611412e+09,NaN,1124,30XX,West,JACKSON BLVD,STREET,2016-04-23 18:18:00-05,NaN,...,WHITE,30,02-18-14,NaN,11,NaN,NaN,41.877650,-87.701265,0101000020E61000007554DA87E1EC55C00F6C4BD356F0...
1,97999,1.618612e+09,NaN,723,9XX,West,MARQUETTE RD,STREET,2016-07-04 17:06:00-05,Outdoor,...,WHITE,30,11-25-13,NaN,7,NaN,NaN,41.772444,-87.647030,0101000020E61000008F215BF168E955C03AFD4575DFE2...
2,98796,1.623610e+09,NaN,811,53XX,South,NARRAGANSETT AVE,RESIDENCE,2016-08-23 16:14:00-05,Outdoor,...,WHITE,51,09-30-02,NaN,8,NaN,NaN,41.795906,-87.782194,0101000020E61000005DE800770FF255C09919EC3CE0E5...
3,99293,1.626900e+09,NaN,2232,100XX,South,EMERALD AVE,SIDEWALK,2016-09-25 20:00:00-05,NaN,...,WHITE,34,12-16-09,NaN,22,NaN,NaN,41.712237,-87.642172,0101000020E610000017BB7D5619E955C067C17A922ADB...
4,99369,1.627410e+09,NaN,634,XX,West,95TH ST,SIDEWALK,2016-09-30 17:13:00-05,NaN,...,BLACK,46,02-21-06,NaN,6,NaN,NaN,41.721990,-87.626064,0101000020E6100000FD4CBD6E11E855C0FF04172B6ADC...

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17465 entries, 0 to 17464
Data columns (total 43 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        17465 non-null  int64
 1   event_number              17213 non-null  float64
 2   cr_number                 1614 non-null   object
 3   beat                      17465 non-null  int64
 4   block                     17465 non-null  object
 5   direction                 17438 non-null  object
 6   street                    17465 non-null  object
 7   location                  17465 non-null  object
 8   trr_datetime              17465 non-null  object
 9   indoor_or_outdoor         17196 non-null  object
 10  lighting_condition        17193 non-null  object
 11  weather_condition         16912 non-null  object
 12  notify_oemc               6866 non-null   object
 13  notify_district_sergeant  9259 non-null   object
 14  notify_op_command         2229 non-null   object
 15  notify_det_division       8 non-null      object
 16  party_fired_first         574 non-null    object
 17  officer_assigned_beat     16900 non-null  object
 18  officer_on_duty           17382 non-null  object
 19  officer_in_uniform        17376 non-null  object
 20  officer_injured           17465 non-null  object
 21  officer_rank              17465 non-null  object
 22  subject_armed             17426 non-null  object
 23  subject_injured           17459 non-null  object
 24  subject_alleged_injury    17459 non-null  object
 25  subject_age               17465 non-null  int64
 26  subject_birth_year        17465 non-null  int64
 27  subject_gender            17445 non-null  object
 28  subject_race              17407 non-null  object
 29  officer_last_name         17465 non-null  object
 30  officer_first_name        17465 non-null  object
 31  officer_middle_initial    8881 non-null   object
 32  officer_gender            17465 non-null  object
 33  officer_race              17465 non-null  object
 34  officer_age               17465 non-null  int64
 35  officer_appointed_date    17465 non-null  object
 36  officer_birth_year        10141 non-null  float64
 37  officer_unit_name         17465 non-null  object
 38  officer_unit_detail       1307 non-null   object
 39  trr_created               10141 non-null  object
 40  latitude                  17465 non-null  float64
 41  longitude                 17465 non-null  float64
 42  point                     17465 non-null  object
dtypes: float64(4), int64(5), object(34)
memory usage: 5.7+ MB

In [10]:
df_trr = pd.read_csv("trr_trr_refresh.csv")

df['trr_datetime'] = pd.to_datetime(df['trr_datetime'], utc=True)
df['beat'] = df['beat'].astype(int)


appoint_date = []
for i in range(len(df['officer_appointed_date'])):
    day = df['officer_appointed_date'][i]
    if pd.isna(day):
        appoint_date.append(np.nan)  
    elif day == 'REDACTED':
        appoint_date.append(np.nan)  
    elif len(day) == 8:
        if int(day[6:8])+2000 > 2021:
            appoint_date.append('19'+day[6:8]+'-'+day[0:5])
        else: 
            appoint_date.append( '20'+day[6:8]+'-'+day[0:5] )
    else:
        mon = day[5:8]
        if mon == 'JAN':
            appoint_date.append(day[0:5]+'01'+day[8:])
        elif mon == 'FEB':
            appoint_date.append(day[0:5]+'02'+day[8:])
        elif mon == 'MAR':
            appoint_date.append(day[0:5]+'03'+day[8:])
        elif mon == 'APR':
            appoint_date.append(day[0:5]+'04'+day[8:])
        elif mon == 'MAY':
            appoint_date.append(day[0:5]+'05'+day[8:])
        elif mon == 'JUN':
            appoint_date.append(day[0:5]+'06'+day[8:])
        elif mon == 'JUL':
            appoint_date.append(day[0:5]+'07'+day[8:])
        elif mon == 'AUG':
            appoint_date.append(day[0:5]+'08'+day[8:])
        elif mon == 'SEP':
            appoint_date.append(day[0:5]+'09'+day[8:])
        elif mon == 'OCT':
            appoint_date.append(day[0:5]+'10'+day[8:])
        elif mon == 'NOV':
            appoint_date.append(day[0:5]+'11'+day[8:])
        elif mon == 'DEC':
            appoint_date.append(day[0:5]+'12'+day[8:])
df['officer_appointed_date'] = pd.to_datetime(appoint_date)


df['officer_birth_year'] = df['officer_birth_year'].fillna(0.0).astype(int)
df['officer_age'] = df['officer_age'].astype(int)
df['officer_on_duty'] = df['officer_on_duty'].astype(bool)
df['officer_injured'] = df['officer_injured'].astype(bool)
df['officer_in_uniform'] = df['officer_in_uniform'].astype(bool)
df['subject_birth_year'] = df['subject_birth_year'].astype(int)
df['subject_age'] = df['subject_age'].astype(int)
df['subject_armed'] = df['subject_armed'].astype(bool)
df['subject_injured'] = df['subject_injured'].astype(bool)
df['subject_alleged_injury'] = df['subject_alleged_injury'].astype(bool)
df['notify_oemc'] = df['notify_oemc'].astype(bool)
df['notify_district_sergeant'] = df['notify_district_sergeant'].astype(bool)
df['notify_op_command'] = df['notify_op_command'].astype(bool)
df['notify_det_division'] = df['notify_det_division'].astype(bool)
df['trr_created'] = pd.to_datetime(df['trr_created'], utc=True)

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [11]:
df_trr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17465 entries, 0 to 17464
Data columns (total 43 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        17465 non-null  int64
 1   event_number              17213 non-null  float64
 2   cr_number                 1614 non-null   object
 3   beat                      17465 non-null  int64
 4   block                     17465 non-null  object
 5   direction                 17438 non-null  object
 6   street                    17465 non-null  object
 7   location                  17465 non-null  object
 8   trr_datetime              17465 non-null  object
 9   indoor_or_outdoor         17196 non-null  object
 10  lighting_condition        17193 non-null  object
 11  weather_condition         16912 non-null  object
 12  notify_oemc               6866 non-null   object
 13  notify_district_sergeant  9259 non-null   object
 14  notify_op_command         2229 non-null   object
 15  notify_det_division       8 non-null      object
 16  party_fired_first         574 non-null    object
 17  officer_assigned_beat     16900 non-null  object
 18  officer_on_duty           17382 non-null  object
 19  officer_in_uniform        17376 non-null  object
 20  officer_injured           17465 non-null  object
 21  officer_rank              17465 non-null  object
 22  subject_armed             17426 non-null  object
 23  subject_injured           17459 non-null  object
 24  subject_alleged_injury    17459 non-null  object
 25  subject_age               17465 non-null  int64
 26  subject_birth_year        17465 non-null  int64
 27  subject_gender            17445 non-null  object
 28  subject_race              17407 non-null  object
 29  officer_last_name         17465 non-null  object
 30  officer_first_name        17465 non-null  object
 31  officer_middle_initial    8881 non-null   object
 32  officer_gender            17465 non-null  object
 33  officer_race              17465 non-null  object
 34  officer_age               17465 non-null  int64
 35  officer_appointed_date    17465 non-null  object
 36  officer_birth_year        10141 non-null  float64
 37  officer_unit_name         17465 non-null  object
 38  officer_unit_detail       1307 non-null   object
 39  trr_created               10141 non-null  object
 40  latitude                  17465 non-null  float64
 41  longitude                 17465 non-null  float64
 42  point                     17465 non-null  object
dtypes: float64(4), int64(5), object(34)
memory usage: 5.7+ MB