In [206]:
import pandas as pd
import numpy as np

In [207]:
df = pd.read_csv("data/trr_trr_refresh.csv")

/Users/xingbangliu/.local/share/virtualenvs/The-Dapper-Squirrels-zr-O-A32/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [208]:
#df.head(5)

In [209]:
#list(df)

In [210]:
df["suffix_name"] = "NULL"

In [211]:
#list(df)

In [212]:
def update_last_suffix(df):
    suffix_list = ["I", "II", "III", "IV", "V", "JR", "SR"]
    officer_last_name = []
    suffix_name = []
    for i in df['officer_last_name']:
        target_str = i.upper().split(" ")
        if len(target_str) > 1:
            k = 0
            for j in suffix_list:
                if j == ''.join(e for e in target_str[-1] if e.isalnum()):
                    # print(''.join(e for e in target_str[-1] if e.isalnum()))
                    suffix_name.append(j)
                    k +=1
            if k == 0 :
                suffix_name.append(None)
            officer_last_name.append(' '.join(target_str).title())
        else:
            officer_last_name.append(i.title())
            suffix_name.append(None)
    df['officer_last_name'] = officer_last_name
    df['suffix_name'] = suffix_name
    return df

In [213]:
update_last_suffix(df)
# print(df.officer_last_name[:5])

,id,event_number,cr_number,beat,block,direction,street,location,trr_datetime,indoor_or_outdoor,...,officer_age,officer_appointed_date,officer_birth_year,officer_unit_name,officer_unit_detail,trr_created,latitude,longitude,point,suffix_name
0,96630,1.611412e+09,NaN,1124,30XX,West,JACKSON BLVD,STREET,2016-04-23 18:18:00-05,NaN,...,30,02-18-14,NaN,11,NaN,NaN,41.877650,-87.701265,0101000020E61000007554DA87E1EC55C00F6C4BD356F0...,None
1,97999,1.618612e+09,NaN,723,9XX,West,MARQUETTE RD,STREET,2016-07-04 17:06:00-05,Outdoor,...,30,11-25-13,NaN,7,NaN,NaN,41.772444,-87.647030,0101000020E61000008F215BF168E955C03AFD4575DFE2...,None
2,98796,1.623610e+09,NaN,811,53XX,South,NARRAGANSETT AVE,RESIDENCE,2016-08-23 16:14:00-05,Outdoor,...,51,09-30-02,NaN,8,NaN,NaN,41.795906,-87.782194,0101000020E61000005DE800770FF255C09919EC3CE0E5...,None
3,99293,1.626900e+09,NaN,2232,100XX,South,EMERALD AVE,SIDEWALK,2016-09-25 20:00:00-05,NaN,...,34,12-16-09,NaN,22,NaN,NaN,41.712237,-87.642172,0101000020E610000017BB7D5619E955C067C17A922ADB...,None
4,99369,1.627410e+09,NaN,634,XX,West,95TH ST,SIDEWALK,2016-09-30 17:13:00-05,NaN,...,46,02-21-06,NaN,6,NaN,NaN,41.721990,-87.626064,0101000020E6100000FD4CBD6E11E855C0FF04172B6ADC...,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17460,6043642,2.620000e+02,NaN,2534,12XX,N,KILDARE AVE,RESIDENCE - PORCH / HALLWAY,2020-05-26 00:30:00-05,INDOOR,...,-25,2019-FEB-19,1995.0,25,NaN,2020-05-26 03:42:00-05,41.902789,-87.733746,0101000020E61000008864C8B1F5EE55C0E1568B998EF3...,None
17461,6043651,2.620000e+02,NaN,2534,12XX,N,KILDARE AVE,RESIDENCE - PORCH / HALLWAY,2020-05-26 00:30:00-05,INDOOR,...,-24,2019-AUG-16,1996.0,25,NaN,2020-05-26 03:45:00-05,41.902789,-87.733746,0101000020E61000008864C8B1F5EE55C0E1568B998EF3...,None
17462,6059341,2.014903e+09,NaN,1023,26XX,W,21ST ST,APARTMENT,2020-05-28 05:20:00-05,INDOOR,...,-31,2017-SEP-18,1989.0,10,NaN,2020-05-28 06:52:00-05,41.854055,-87.690811,0101000020E61000001ACEEB3E36EC55C071FCF5AF51ED...,None
17463,6059467,2.014903e+09,NaN,1023,26XX,W,21ST ST,APARTMENT,2020-05-28 05:20:00-05,INDOOR,...,-26,2018-NOV-27,1994.0,10,NaN,2020-05-28 07:24:00-05,41.854055,-87.690811,0101000020E61000001ACEEB3E36EC55C071FCF5AF51ED...,None
17464,6059839,2.014903e+09,NaN,1023,26XX,W,21ST ST,APARTMENT,2020-05-28 05:20:00-05,INDOOR,...,-36,2017-SEP-18,1984.0,10,NaN,2020-05-28 08:29:00-05,41.854055,-87.690811,0101000020E61000001ACEEB3E36EC55C071FCF5AF51ED...,None

In [215]:
def update_first_name(df):
    officer_first_name = []
    for i in df['officer_last_name']:
        officer_first_name.append(i.title())
    df['officer_first_name'] = officer_first_name
    return df

In [216]:
update_first_name(df)

,id,event_number,cr_number,beat,block,direction,street,location,trr_datetime,indoor_or_outdoor,...,officer_age,officer_appointed_date,officer_birth_year,officer_unit_name,officer_unit_detail,trr_created,latitude,longitude,point,suffix_name
0,96630,1.611412e+09,NaN,1124,30XX,West,JACKSON BLVD,STREET,2016-04-23 18:18:00-05,NaN,...,30,02-18-14,NaN,11,NaN,NaN,41.877650,-87.701265,0101000020E61000007554DA87E1EC55C00F6C4BD356F0...,None
1,97999,1.618612e+09,NaN,723,9XX,West,MARQUETTE RD,STREET,2016-07-04 17:06:00-05,Outdoor,...,30,11-25-13,NaN,7,NaN,NaN,41.772444,-87.647030,0101000020E61000008F215BF168E955C03AFD4575DFE2...,None
2,98796,1.623610e+09,NaN,811,53XX,South,NARRAGANSETT AVE,RESIDENCE,2016-08-23 16:14:00-05,Outdoor,...,51,09-30-02,NaN,8,NaN,NaN,41.795906,-87.782194,0101000020E61000005DE800770FF255C09919EC3CE0E5...,None
3,99293,1.626900e+09,NaN,2232,100XX,South,EMERALD AVE,SIDEWALK,2016-09-25 20:00:00-05,NaN,...,34,12-16-09,NaN,22,NaN,NaN,41.712237,-87.642172,0101000020E610000017BB7D5619E955C067C17A922ADB...,None
4,99369,1.627410e+09,NaN,634,XX,West,95TH ST,SIDEWALK,2016-09-30 17:13:00-05,NaN,...,46,02-21-06,NaN,6,NaN,NaN,41.721990,-87.626064,0101000020E6100000FD4CBD6E11E855C0FF04172B6ADC...,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17460,6043642,2.620000e+02,NaN,2534,12XX,N,KILDARE AVE,RESIDENCE - PORCH / HALLWAY,2020-05-26 00:30:00-05,INDOOR,...,-25,2019-FEB-19,1995.0,25,NaN,2020-05-26 03:42:00-05,41.902789,-87.733746,0101000020E61000008864C8B1F5EE55C0E1568B998EF3...,None
17461,6043651,2.620000e+02,NaN,2534,12XX,N,KILDARE AVE,RESIDENCE - PORCH / HALLWAY,2020-05-26 00:30:00-05,INDOOR,...,-24,2019-AUG-16,1996.0,25,NaN,2020-05-26 03:45:00-05,41.902789,-87.733746,0101000020E61000008864C8B1F5EE55C0E1568B998EF3...,None
17462,6059341,2.014903e+09,NaN,1023,26XX,W,21ST ST,APARTMENT,2020-05-28 05:20:00-05,INDOOR,...,-31,2017-SEP-18,1989.0,10,NaN,2020-05-28 06:52:00-05,41.854055,-87.690811,0101000020E61000001ACEEB3E36EC55C071FCF5AF51ED...,None
17463,6059467,2.014903e+09,NaN,1023,26XX,W,21ST ST,APARTMENT,2020-05-28 05:20:00-05,INDOOR,...,-26,2018-NOV-27,1994.0,10,NaN,2020-05-28 07:24:00-05,41.854055,-87.690811,0101000020E61000001ACEEB3E36EC55C071FCF5AF51ED...,None
17464,6059839,2.014903e+09,NaN,1023,26XX,W,21ST ST,APARTMENT,2020-05-28 05:20:00-05,INDOOR,...,-36,2017-SEP-18,1984.0,10,NaN,2020-05-28 08:29:00-05,41.854055,-87.690811,0101000020E61000001ACEEB3E36EC55C071FCF5AF51ED...,None

In [ ]:
def update_race(df):
    race_map = dict({'AMER IND/ALASKAN NATIVE':'Native American/Alaskan Native',
                'ASIAN/PACIFIC ISLANDER':'Asian/Pacific',
                'BLACK':'Black',
                'UNKNOWN':'Unknown',
                 'HISPANIC':'Hispanic',
                 'WHITE':'White'
                })
    for k in race_map:
        df.replace(k,race_map[k] ,inplace=True)
    return df